footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #ffbb56;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
}

header a{
    text-decoration: none;
    color: #ffbb56;
}

body{
    background-image: url(/img/background.png);
    color: white;
    background-size: cover;
}

.foto_inicio{
    background-image: url(/img/xiaomi-smart-glass.png);
    background-size: cover;
    width: 1500px;
    height: 800px;
    display: flex;
    align-items: center;
}

#p_1{
    font-size: 90px;
    margin-left: 30px;
    margin-bottom: 35px;
}

#p_2{
    font-size: 60px;
    margin-left: 30px;
    margin-top: -50px;
}

.txt_home{
    font-size: 21px;
    text-align: center;
    width: 900px;
    margin-left: 300px;
}

.crut{
    text-align: center;
}

#hc{
    border-radius: 120px;
    width: 400px;
    height: 400px;
}








.oculos{
    text-align: center;
}

.oculos img{
    width: 1000px;
    height: 500px;
}

#h1_equipe{
color: #ffbb56;
text-align: center;
padding: 20px;
} 

.foto_equipe{
    width: 180px;
    border-radius: 90%;
    border: 6px solid #ffbb56;
    }
    
    .equipe{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .colunas{
        display: flex;
        flex-direction: column;
       /* border: solid 10px; */
       margin: 30px;
       background-color: white;
       
    }
    .item_coluna{
        width: 240px;
        text-align: center;  
    }