footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: #ffbb56;
}

footer a:hover{
    color: white;
}

header{
    font-size: 25px;
    height: 60px;
}

header a{
    text-decoration: none;
    color: #ffbb56;
}

header a:hover{
    color: white;
}

#logo{
    height: 170px;
}

.itens_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin-top: -68px;
}

.links{
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
}

body{
    background-image: url(/img/background.png);
    /* background-image: linear-gradient(rgb(0, 0, 0), #1443a9, rgb(0, 0, 0)); */

    color: white;
    background-size: cover;
}

.foto_inicio{
    background-image: url(/img/xiaomi-smart-glass.png);
    background-size: cover;
    width: 1450px;
    height: 800px;
    display: flex;
    align-items: center;
    margin-left: -8px;
}

#p_1{
    font-size: 90px;
    margin-left: 40px;
    margin-bottom: 35px;
}

#p_2{
    font-size: 60px;
    margin-left: 40px;
    margin-top: -50px;
}

.txt_home{
    font-size: 21px;
    text-align: center;
    width: 900px;
    margin-left: 300px;
}

.crut{
    text-align: center;
}

#hc{
    border-radius: 120px;
    width: 360px;
    height: 360px;
}



.oculos{
    text-align: center;
}

.oculos img{
    width: 1000px;
    height: 500px;
}



/* Inicio nossa equipe */

#h1_equipe {
    color: #ffbb56;
    text-align: center;
    padding: 20px;
}

.foto_equipe {
    width: 180px;
    border-radius: 90%;
    border: 6px solid black;
    margin-top: 15px;
}

.equipe {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.colunas {
    display: flex;
    flex-direction: column;
    /* border: solid 10px; */
    margin: 10px;
    background-color: #FFBD59;
    color: black;
    border-radius: 20px;

}

.item_coluna {
    width: 240px;
    text-align: center;
}

.logos_sociais {
    display: inline;
    width: 18px;
    padding-bottom: 20px;
}



/* Fim nossa equipe */

/* inicio catálogo */

#h1_equipe2 {
    color: #ffbb56;
    text-align: center;
    padding: 20px;
}

.foto_equipe2 {
    width: 180px;
    margin-top: 15px;
}

.equipe2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colunas2 {
    display: flex;
    flex-direction: column;
    /* border: solid 10px; */
    margin: 10px;
    background-color: #ffbb56;
    color: black;
    border-radius: 10px;
}

.item_coluna2 {
    width: 240px;
    text-align: center;
}

.logos_sociais2 {
    display: inline;
    width: 18px;
    padding-bottom: 20px;
}

#pokemon{
    height: 110px;
    border: 3px solid black;
}

/* fim do catálogo */

/* ****** formulário ****** */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
} */

.container {
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 35%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    padding: 3rem;
}

.form-header {
    display: flex;
    justify-content: space-between;
    color: black;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #2f5099;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000000e7;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #55545e88;
}

.input-box input:focus-visible {
    outline: 1px solid #2f5099;
}

.input-box label,
.gender-title h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

/* .continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #2f5099;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
} */

#botao {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #2f5099;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}


@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
