footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #ffbb56;
}

footer a:hover{
    color: white;
}

header{
    font-size: 25px;
    height: 60px;
}

header a{
    text-decoration: none;
    color: #ffbb56;
}

header a:hover{
    color: white;
}

#logo{
    height: 170px;
}

.itens_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin-top: -68px;
}

.links{
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
}

body{
    background-image: url(/img/background.png);
    color: white;
    background-size: cover;
}

.foto_inicio{
    background-image: url(/img/xiaomi-smart-glass.png);
    background-size: cover;
    width: 1450px;
    height: 800px;
    display: flex;
    align-items: center;
    margin-left: -8px;
}

#p_1{
    font-size: 90px;
    margin-left: 40px;
    margin-bottom: 35px;
}

#p_2{
    font-size: 60px;
    margin-left: 40px;
    margin-top: -50px;
}

.txt_home{
    font-size: 21px;
    text-align: center;
    width: 900px;
    margin-left: 300px;
}

.crut{
    text-align: center;
}

#hc{
    border-radius: 120px;
    width: 360px;
    height: 360px;
}








.oculos{
    text-align: center;
}

.oculos img{
    width: 1000px;
    height: 500px;
}

/* Inicio quem somos */

#h1_equipe{
color: #ffbb56;
text-align: center;
padding: 20px;
} 

.foto_equipe{
    width: 180px;
    border-radius: 90%;
    border: 6px solid #ffbb56;
    }
    
    .equipe{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .colunas{
        display: flex;
        flex-direction: column;
       /* border: solid 10px; */
       margin: 30px;
       background-color: white;
       
    }
    .item_coluna{
        width: 240px;
        text-align: center;  
    }

    /* Fim quem somos */
